.modalDropBox {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 300;
  cursor: pointer;
}
.modalSocialDropDown {
  width: 100%;
  margin: 5rem 0rem;
  padding: 2rem 5rem;
  /* position: relative; */
}

.modalSocialDropDown > .skillsSocialDropDown {
  max-width: 700px;
  margin: 0 auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-shadow: unset;
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;

  z-index: 500;
  overflow: hidden;
  /* padding: 1rem; */
}

.modalSocialDropDown .skillsSocialDropDown__main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  width: 100%;
  padding: 2rem;
  /* max-width: 700px; */
  margin: 2rem auto;
  border-bottom: unset;
  overflow: hidden;
  gap: 20px;
}

.modalSocialDropDown .skillsSocialDropDown__container {
  margin-left: unset;

  margin-bottom: 1rem;
}

@media (min-width: 500px) {
  .modalSocialDropDown .skillsSocialDropDown__main {
    padding: 2rem;
  }
  .modalSocialDropDown .skillsSocialDropDown__container {
    justify-content: center;
  }
}

@media (min-width: 900px) {
  .modalSocialDropDown .skillsSocialDropDown__main {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
  }
}
