.definition {
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
  transition: height 0.2s ease;
}

.skillDefinition {
  /* padding: 1rem; */
  --border: 1px solid rgb(218, 214, 214);
  border: var(--border);
  box-shadow: 1px 2px 8px grey;
  font-family: "Open Sans", sans-serif;
  transition: height 0.3s ease;
}

.skillDefinition__title {
  font-size: calc(1rem + 1vw);
  padding: 1rem 2rem;
  text-align: center;
  color: #333;
  border-bottom: var(--border);
}

.skillDefinition__cardMain {
  position: relative;
}
/* .skillDefinition__cardMainContainer,
.skillDefinition__howToBlock {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
} */

/* .definition:hover .skillDefinition__cardMain {
  height: 0;
} */
.skillDefinition__howToBlock {
  padding: 2rem 0;
}

.skillDefinition__text,
.skillDefinition__howToTexts {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  font-weight: 600;
  font-family: "Open Sans", sans-serif;
  padding: 1rem 2rem;
  display: flex;
}

.skillDefinition__howToTexts {
  padding: 0.2rem 2rem;
  margin-bottom: unset;
}

.skillDefinition__howToTEXT::first-letter {
  text-transform: uppercase;
}

.skillDefinition__howTo {
  border: none;
  outline: none;
  font-weight: 700;
  width: 100%;
  text-align: center;
  /* padding: 1rem 0; */
  font-size: 1rem;
  cursor: pointer;
  color: #333;
  border-top: var(--border);
  background: ghostwhite;
  font-family: "Montserrat", sans-serif;
  transition: background-color 0.3s ease-out;
}

.skillDefinition__howTo:hover {
  background-color: rgb(240, 234, 234);
}
.skillDefinition__howTo:active {
  background-color: rgb(240, 234, 234);
}

.skillDefinition__howTo > span {
  display: block;
  padding: 1rem 0;
}
/* REFERENCES */

.skillDefinition__references {
  margin-top: 2rem;
}

.skillDefinition__referencesTitle {
  margin-bottom: 1rem;
  font-size: 0.99rem;
}

.skillDefinition__referenceItem {
  color: rgb(218, 165, 32);
  font-size: 0.85rem;
  font-weight: 700;
}

/* SOCIAL MEDIA ICONS */
.skillDefinition__socialContainer {
  margin-top: 1rem;
  /* text-align: center; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.skillDefinition__socialTitle {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.skillDefinition__Container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.skillDefinition__icon {
  font-size: 2rem !important;
}

.skillDefinition__icon.add {
  color: rgb(1, 102, 255);
}

.skillDefinition__icon.fb {
  color: #3b5998;
}

.skillDefinition__icon.tw {
  color: #00acee;
}

.skillDefinition__icon.wht {
  color: green;
}

.skillDefinition__icon.li {
  color: #0e76a8;
}

.skillDefinition__icon.tg {
  color: rgb(61, 130, 233);
}

.skillDefinition__icon.mail {
  color: #333;
}

.skillDefinition__referenceListItem {
  display: flex;
  cursor: pointer;
}

.skillDefinition__referenceListItem:hover {
  text-decoration: underline;
  text-decoration-color: #333;
}
.skillDefinition__icon.thumbs,
.skillDefinition__icon.beenHere {
  font-size: 1.2rem !important;
  color: green;
  margin-right: 1rem;
}
.skillDefinition__icon.ref {
  font-size: 0.8rem !important;
  color: black;
  margin-right: 0.2rem;
}
.skillDefinition__icon.thumbs {
  color: #333;
}

.skillDefinition__referencesTitle {
  text-align: center;
}

.skillDefinition__referenceList + .skillDefinition__socialContainer {
  margin-top: 2rem;
}

@media (min-width: 1200px) {
  .skillDefinition__title {
    text-align: center;
    font-size: 1.8rem;
  }
}
