.jobPagination {
  width: 200px;
  margin: 2rem auto;
  display: flex;
}

.jobPagination__page {
  padding: 0.5rem 0.9rem;
  border: 1px solid black;
  border-radius: 50px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  background-color: grey;
  color: #fff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-right: 0.1rem;
}

.jobPagination__page:hover {
  color: black;
  background: #fff;
}

.jobPagination__page.active {
  background: black;
  color: #fff;
}
