.mobileSideBar {
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 300px;

  z-index: 300;
  /* padding: 1rem; */
  /* background: rgba(245, 245, 245, 1); */
  background: rgb(255, 255, 255);

  transition: transform 0.4s ease-in-out;
}

.mobileSideBar__container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.mobileSideBar .nav__listItem {
  /* flex: 1; */
  transition: background 0.1s ease-out;
  /* background-color: rgba(0, 0, 0, 0.4); */
}

.mobileSideBar__closeBtn {
  outline: none;
  border: none;
  background-color: transparent;
}
.mobileSideBar__closeIcon {
  font-size: 2rem !important;
  margin-top: 0.8rem;
  margin-left: 1.5rem;
  color: red;
  font-weight: 900;
}

.mobileSideBar .nav__listItem:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.mobileSideBar .nav__listItem:hover .nav__itemLink {
  /* color: #fff; */
  font-weight: 700;
}
.mobileSideBar .nav__itemLink {
  /* padding: 0 2rem; */
  display: block;
  width: 100%;
  padding: 1rem;
  padding-left: 2rem;
  color: #333;
  transition: all 0.2s ease-in-out;
}

.mobileSideBar .nav__itemLink.active {
  color: rgb(255, 179, 0);
  background-color: rgb(0, 0, 0);
  font-weight: 700;
}

.mobileSideBar__backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
}
