.skills {
  padding: 1rem 2rem;
  max-width: 1200px;
  margin: 2rem auto;
  color: rgb(119, 119, 119);
  font-family: "Open Sans", sans-serif;
}

.skills__heading {
  margin-bottom: 1rem;
  font-weight: 700;
}

.skills__text {
  font-size: 0.9rem;
  font-weight: 500;
}

.skills__listContainer {
  margin-top: 2rem;
  color: rgb(218, 165, 32);
  cursor: pointer;
  margin: 2rem 0;
  font-size: 0.9rem;
}
.skills__listItem {
  padding: 0.1rem 0;
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-out, transform 0.3s;

  font-weight: 600;
  margin-bottom: 0.2rem;
  /* width: 30%; */
}

.skills__listItem.isActive {
  color: #333;
  font-weight: 900;
}

.skills__listItem.isActive:hover {
  transform: unset;
}
.skills__listItem:hover {
  color: #333;
  transform: scale(1.04);
}

.skills__listItem:hover::before {
  content: " @";
}

.skills__listItem.isActive::before {
  content: unset;
}

@media (min-width: 400px) {
  .skills__listContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .skills__listItem {
    width: 100%;
    margin-bottom: 0.5rem;
  }
}

@media (min-width: 780px) {
  .skills {
    display: flex;
    justify-content: space-between;
  }

  .skills > * {
    flex: 1;
  }

  .skills__container {
    margin-right: 2rem;
  }
}

@media (min-width: 1200px) {
  .skills {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 30px 30px;
    max-width: 1200px;
    margin: 2rem auto;
    transition: grid-gap 0.3s ease-in-out;
  }

  .skills__container {
    grid-column: 1/7;
    margin-right: unset;
  }

  .skills .skillDefinitions {
    grid-column: 7/13;
  }
}

@media (min-width: 1200px) {
  .skills {
    grid-gap: 30px 80px;
  }
}
