.optionsCard {
  width: 100%;
  /* margin: 0rem 2rem; */
  max-width: 527px;
  min-width: 100px;
  margin-bottom: 2rem;
  background-color: #fff;
  /* background-color: yellow; */
  font-family: "Raleway", sans-serif;
  /* border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px; */
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in;
  transition: box-shadow 0.4s ease-in-out, transform 0.3;
  /* position: relative; */
  /* box-shadow: (0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px; */
  box-shadow: 1px 3px 3px grey;
  /* margin-top: 2rem; */
}

.optionsCard:hover {
  box-shadow: 1px 3px 10px grey;
  transform: scale(1.03);
}

.optionsCard__viewContainer {
  /* overflow: hidden; */
  transition: transform 0.4s;
  /* display: flex;
  flex-direction: column; */
}

.optionsCard__initialView {
  transition: transform 0.3s, opacity 0.2s;
  display: block;
  opacity: 1;
  visibility: visible;
  height: 100%;
  /* animation: initialView 0.2s ease-in-out; */
  /* animation-d */
}

.optionsCard.cardSwitched {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  flex-direction: column;
  overflow: visible;

  /* margin-bottom: 6rem; */
  /* height: auto !important; */
}

.optionsCard.cardSwitched + .optionsCard {
  margin-top: 16rem;
}

.optionsCard.cardSwitched + .optionsCard.cardSwitched + .optionsCard,
.optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard
  + .optionsCard,
.optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard
  + .optionsCard {
  margin-top: 10rem;
}
.optionsCard.cardSwitched .optionsCard__initialView {
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;

  /* display: none; */
  /* animation: initialView 0.2s ease-in-out; */

  /* height: 0px !important; */
}

.optionsCard.cardSwitched .optionsCard__viewContainer {
  /* transform: translateY(-100%); */
  /* visibility: hidden; */
  position: relative;
}

.optionsCard.cardSwitched .optionsCard__moreInfo {
  display: block;
  width: 100%;
  transform: rotateX(360deg);
  padding: 1rem 1rem;
  padding-bottom: 0;
  /* padding-top: 0rem; */
  position: absolute;
  top: 10px;
  /* bottom: 0; */
  left: 0;
  right: 0;
  opacity: 1;
  visibility: 1;
  z-index: 10;
  overflow: auto;
  overflow-x: hidden;
  /* text-overflow: ellipsis; */
  height: 0px;
  box-shadow: 1px 3px 5px grey;
}
.optionsCard__img {
  object-fit: contain;
  display: block;
  width: 100%;
  opacity: 0.9;
  transition: opacity 0.2s;
}

.optionsCard:hover .optionsCard__img {
  opacity: 1;
}
.optionsCard__title,
.optionsCard__category {
  padding: 1rem 1rem;
}

.optionsCard__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  /* padding: 1rem 0.5rem; */
}

.optionsCard__category {
  color: #daa520;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 0.9rem;
  /* text-align: center; */
}

.optionsCard__moreInfo {
  width: 100%;
  opacity: 0;
  visibility: 0;
  transition: transform 0.5s ease-in-out, opacity 0s ease-in-out,
    position 0.1s ease-in, box-shadow 0.3s ease-in;
  /* background: red; */
  background-color: #fff;
  transform: rotateX(270deg);
  /* display: none; */
}

/* .optionsCard:hover .optionsCard__moreInfo {
  transform: translateY(-100%);
} */

.optionsCard__infoTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.optionsCard__infoText,
.optionsCard__secondParagraph {
  margin-top: 1rem;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 1rem;
  overflow: auto;
  color: rgb(119, 119, 119);
  font-size: 0.9rem;
  font-weight: 500;
  /* text-align: justify; */
  /* background-color: #fff; */
}

.optionsCard__heading {
  font-size: 1rem;
  font-weight: 700;
}

/* .optionsCard
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched {
  margin-top: unset;
} */
.optionsCard
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard,
.optionsCard
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard
  + .optionsCard,
.optionsCard
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched,
.optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard
  + .optionsCard,
.optionsCard
  + .optionsCard
  + .optionsCard
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard {
  margin-top: unset;
}

.optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard,
.optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched,
.optionsCard
  + .optionsCard
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard.cardSwitched
  + .optionsCard {
  margin-top: 10rem;
}

@media (min-width: 684px) {
  .optionsCard.cardSwitched + .optionsCard.cardSwitched + .optionsCard,
  .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard
    + .optionsCard,
  .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard
    + .optionsCard {
    margin-top: unset;
  }
}

@media (min-width: 686px) {
  .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard,
  .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard
    + .optionsCard,
  .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard
    + .optionsCard
    + .optionsCard,
  .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard
    + .optionsCard {
    margin-top: 10rem;
  }

  .optionsCard.cardSwitched
    + .optionsCard
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched {
    margin-top: unset;
  }
  .optionsCard
    + .optionsCard
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched {
    margin-top: unset;
  }
  .optionsCard
    + .optionsCard
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard {
    margin-top: unset;
  }
  .optionsCard
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched {
    margin-top: unset;
  }
  .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched {
    margin-top: 10rem;
  }
  .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched {
    margin-top: 10rem;
  }
}

@media (min-width: 1000px) {
  .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard,
  .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard
    + .optionsCard,
  .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard
    + .optionsCard
    + .optionsCard,
  .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard.cardSwitched
    + .optionsCard
    + .optionsCard {
    margin-top: 11rem;
  }
}
